@primary-border-color: #C0C0C0;
@secondary-border-color: #1AD6FD;
@primary-font-color:  #858487;
@secondary-font-color: #000000;
@genric-link-font-size: 20px;
/*
Universal reset so that border can extend all the way
until the end of the page
*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Akkurat-Bold';
  src: url('../Font/Akkurat-Bold.ttf');
}
@font-face {
  font-family: 'Akkurat-Light';
  src: url('../Font/Akkurat-Light.ttf');
}
@font-face {
  font-family: 'Akkurat-Mono';
  src: url('../Font/Akkurat-Mono.ttf');
}
@font-face {
  font-family: 'Akkurat';
  src: url('../Font/Akkurat.ttf');
}

a{
  text-decoration: none;
  cursor: pointer;
  font-size: @genric-link-font-size;
  font-family: 'Akkurat-Light';
}

.main-header {
  padding: 10px;
  border: 1px solid @primary-border-color;
  img{
    width: 100px;
  }
}

.phone-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  .phone {
    width: 300px;
    height: 400px;
    margin-bottom: 10px;
  }
}

.phone-info{
  header{
    font-family: 'Akkurat-Light';
    font-size: 40px;
  }
  .description{
    margin-top: 20px;
    list-style-type: none;
    color: @primary-font-color;
    font-family: 'Akkurat-Light';
    > li {
      margin-top: 5px;
    }
  }
}

.controls{
  display: flex;
  flex-direction: row;
  .color-choice{
    font-family: 'Akkurat-Light';
    margin-top: 140px;
    width: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid @primary-border-color;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    &:hover{
      border: 1px solid @secondary-border-color;
    }
    .shape{
      width: 20px;
      height: 20px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: black;
      margin-bottom: 10px;
    }
  }
}

.desktop-content{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
